body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}



/* --------------------------- Login Page --------------------------- */
.loginCard {
  margin-top: 110px;
  padding: 35px;
}

.loginCard__formGroup {
  margin: 20px 0px;
}


/* ---------------------------Register Page --------------------------- */
.registerCard {
  margin-top: 110px;
  padding: 35px;
}

.registerCard__formGroup {
  margin: 20px 0px;
}


/* --------------------------- NavBar --------------------------- */

.navbarTitle {
  margin: auto;
}


